In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("E:\\anushka\\Anushka_python\\spam\\spam.csv")

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [6]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [7]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Category']=le.fit_transform(df['Category'])
df

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

spam=1 , ham=0

In [11]:
X=df.drop(['Category'] , axis=1)
y=df.Category

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [14]:
len(X_train)

4457

In [15]:
len(X_test)

1115

In [32]:
X_train

                                                Message
292   Haf u found him? I feel so stupid da v cam was...
74                                 U can call me now...
2353                      Thats cool. How was your day?
2527     Do u noe how 2 send files between 2 computers?
1618                      Did u download the fring app?
...                                                 ...
4269                    Hey so whats the plan this sat?
3110  Lol I was gonna last month. I cashed some in b...
413   Okies... I'll go yan jiu too... We can skip ar...
2581  U are subscribed to the best Mobile Content Se...
1940  More people are dogging in your area now. Call...

[4457 rows x 1 columns]

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer(lowercase=False , stop_words='english' , binary=True)
X_train_count=v.fit_transform(X_train.Message)
v.get_feature_names_out()

array(['00', '000', '000pes', ..., 'èn', 'ú1', '〨ud'], dtype=object)

In [48]:
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [49]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [50]:
X_test_count=v.transform(X_test.Message)
model.score(X_test_count,y_test)

0.9847533632286996

In [55]:
X_test_count.shape

(1115, 9386)

In [54]:
y_test.shape

(1115,)